
backgrounds/.DS_Store
characters/.DS_Store
characters/arin/.DS_Store
characters/edgeworth/.DS_Store
characters/gumshoe/.DS_Store
characters/judge/.DS_Store
characters/mia/.DS_Store
characters/phoenix/.DS_Store
docs/.DS_Store
evidence/.DS_Store
sounds/.DS_Store
sprites/.DS_Store
.DS_Store
